@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #454360;
  --background: #f9f9fe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f9f9fe;
    --background: #181528;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 200ms;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gabarito", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: var(--foreground);
  background: var(--background);
}
img {
  max-width: 100%;
  display: block;
}

article a {
  text-decoration: underline;
}
.active {
  color: #ff4656;
}
